body{
  font-size: 22px;
  background-color: papayawhip;
  color: black;
  border: double green;
  margin: auto;
}
main{
  margin: 10px;
}
h1{
  border: 2px dashed red;
  width: 400px;
  padding: 1.5rem;  
}
#container1{
  border: 2px dashed red;
  padding: 1.5em;
  font-size: 1.5em;
  outline: 5px solid  purple ;
  outline-offset: 5px;
  border: 5px double red;

}
#container2{
  border: 2px dashed red;
  padding: 1.5em;
  font-size: 1.5em;
  outline: 5px solid  purple ;
  outline-offset: 5px;
  border: 5px double red;

}

#container3{
  border: 2px dashed red;
  padding: 1.5em;
  font-size: 1.5em;
  outline: 5px solid  purple ;
  outline-offset: 5px;
  border: 5px double red;

}
.circle{
  margin: 3rem auto;
  background-color: gold;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 50px;
  outline: 2px solid red;
  outline-offset: 0.25rem;
  
}
p{
  line-height: 1.5;
  letter-spacing:  0.1em; 
  font-weight: bolder;
}
a{
  text-decoration: none;
  cursor: pointer;
  color: blue;
}
a:visited{
  color: purple;
}
a:hover{
  color: dodgerblue;
}
a:active{
  color: red;
}