body{
  font-size: 22px;
  background-color: papayawhip;
  color: black;
  margin: 1.5em;
}
h1{
  border: 2px dashed red;
  width: 400px;
  padding: 1.5rem;  
}
#container1{
  border: 2px dashed red;
  padding: 1.5em;
  font-size: 1.5em;
  outline: purple 10px;
}