body{
  background-color: blueviolet;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
}
#liquids{
  color: burlywood;
  border: solid, black;

}
#liquids dl{
  margin: 2%;
}
#btn{
  color: blueviolet;
  border-radius: 2%;
  border: solid, green;
  
}