body{
  background-color: blueviolet;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
}

.cards dd,dt{
  background-color: blueviolet;
}

#liquids{
  color: burlywood;
  border: solid, black;

}
#liquids dl{
  margin: 2%;
}
#btn{
  color: blueviolet;
  border-radius: 2%;
  border: solid, green;
  background-color: aqua;
  color: black;
  font-size: larger;
}
#tables{
  border: solid, black;
  margin: auto;
  text-align: center;
  color: black;
  background-color: gray;

}
h3{
  text-decoration: underline;

}